openapi: 3.0.1
servers:
  - url: https://api.icis.com/energy/v1
    description: Live server for Energy API
info:
  title: European Energy Pricing
  description: |
    Timely, objective and reliable pricing data.

    ***

    Technical details can be found on the [Get Started](https://developer.icis.com/get-started#technicalDetails) page.
  version: 1.0.0
tags:
  - name: basisPriceAssessments
  - name: basisPriceAssessmentSpecifications
  - name: currencies
  - name: dataEvents
  - name: indices
  - name: indexSpecifications
  - name: locationSpreads
  - name: locationSpreadSpecifications
  - name: markets
  - name: periods
  - name: priceAssessments
  - name: priceAssessmentSpecifications
  - name: sparkAndDarkSpreads
  - name: sparkAndDarkSpreadSpecifications
  - name: trades
  - name: tradeSpecifications
  - name: units
paths:
  /basisPriceAssessments:
    get:
      operationId: getBasisPriceAssessmentList
      tags:
        - basisPriceAssessments
      summary: Returns a list of basisPriceAssessments
      description: "Returns a list of basis price assessments sorted by `createdForDate` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterSpecificationIdParameter"
        - $ref: "#/components/parameters/filterCreatedForDateStartParameter"
        - $ref: "#/components/parameters/filterCreatedForDateEndParameter"
        - $ref: "#/components/parameters/filterAbsolutePeriodCodeParameter"
        - $ref: "#/components/parameters/filterRelativePeriodCodeParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of BasisPriceAssessment entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BasisPriceAssessmentModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/BasisPriceAssessmentSpecificationModel"
              example:
                links:
                  next: /basisPriceAssessments?page%5Bsize%5D=2&page%5Bafter%5D=eyJjcmVhdGVkRm9yRGF0ZSI6IjAxLzA0LzIwMTYgMDA6MDA6MDAiLCJpZCI6IjI2MC1CT00tMjAxNjAxMDQifQ%3D%3D
                data:
                  - id: 12000-DA-20160104
                    type: basisPriceAssessment
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-03-20T05:56:42Z"
                      bid: 31.15
                      offer: 31.4
                      midpoint: 31.275
                      diffToPrevMid: 0.063
                      changePct: null
                      dataUsed: B
                      isEstimate: false
                      volatilityIndex: 0
                      volatilityIndexReason: null
                      basisBid: -1.4
                      basisOffer: -1.2
                      basisMidpoint: -1.3
                      diffToPrevBasisMid: 0
                      basisChangePct: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268467"
                      basisPriceAssessmentSpecification:
                        data:
                          type: basisPriceAssessmentSpecification
                          id: "12000"
                  - id: 260-BOM-20160104
                    type: basisPriceAssessment
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-03-20T05:56:37Z"
                      bid: 31.075
                      offer: 31.125
                      midpoint: 31.1
                      diffToPrevMid: -0.188
                      changePct: null
                      dataUsed: B
                      isEstimate: true
                      volatilityIndex: 0
                      volatilityIndexReason: null
                      basisBid: -1.675
                      basisOffer: -1.675
                      basisMidpoint: -1.675
                      diffToPrevBasisMid: -0.05
                      basisChangePct: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268452"
                      basisPriceAssessmentSpecification:
                        data:
                          type: basisPriceAssessmentSpecification
                          id: "260"
                included:
                  - type: basisPriceAssessmentSpecification
                    id: "12000"
                    attributes:
                      code: NGCAZEEUP
                      name: ICIS Heren® Natural Gas Closing Day Assessment - Zeebrugge GBX/th
                      isConverted: false
                      timelinessName: Closing Day
                      dataSupplierName: ICIS
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "2"
                      market:
                        data:
                          type: market
                          id: "3"
                      unit:
                        data:
                          type: unit
                          id: "1"
                  - type: basisPriceAssessmentSpecification
                    id: "260"
                    attributes:
                      code: NGEAZEEUP
                      name: ICIS Heren® Natural Gas EoD Assessment - Zeebrugge GBX/th
                      isConverted: false
                      timelinessName: EOD
                      dataSupplierName: ICIS
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "2"
                      market:
                        data:
                          type: market
                          id: "3"
                      unit:
                        data:
                          type: unit
                          id: "1"
                  - type: period
                    id: "1268452"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: BOM
                      startDate: "2016-01-06T00:00:00Z"
                      endDate: "2016-01-31T00:00:00Z"
                      displayOrder: 2100
                      absolutePeriodCode: BOM160106
                      absolutePeriodLabel: BOM January '16
                      relativePeriodCode: BOM
                      relativePeriodLabel: BOM
                      defaultPeriodCode: BOM
                      periodType: BOM Monthly
                  - type: period
                    id: "1268467"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: Day-ahead
                      startDate: "2016-01-05T00:00:00Z"
                      endDate: "2016-01-05T00:00:00Z"
                      displayOrder: 700.01
                      absolutePeriodCode: DA160105
                      absolutePeriodLabel: Day-ahead 05 January 2016
                      relativePeriodCode: DA
                      relativePeriodLabel: Day-ahead
                      defaultPeriodCode: DA
                      periodType: Day-ahead
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/basisPriceAssessments/{id}":
    get:
      operationId: getBasisPriceAssessmentById
      tags:
        - basisPriceAssessments
      summary: Returns a basisPriceAssessment entity
      description: Returns a basis price assessment entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 12000-DA-20160104
          description: The Id of the basis price assessment for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: BasisPriceAssessment entity.
                properties:
                  data:
                    $ref: "#/components/schemas/BasisPriceAssessmentModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/BasisPriceAssessmentSpecificationModel"
              example:
                data:
                  id: 12000-DA-20160104
                  type: basisPriceAssessment
                  attributes:
                    createdForDate: "2016-01-04T00:00:00Z"
                    modifiedDateTime: "2021-03-20T05:56:42Z"
                    bid: 31.15
                    offer: 31.4
                    midpoint: 31.275
                    diffToPrevMid: 0.063
                    changePct: null
                    dataUsed: B
                    isEstimate: false
                    volatilityIndex: 0
                    volatilityIndexReason: null
                    basisBid: -1.4
                    basisOffer: -1.2
                    basisMidpoint: -1.3
                    diffToPrevBasisMid: 0
                    basisChangePct: null
                  relationships:
                    period:
                      data:
                        type: period
                        id: "1268467"
                    basisPriceAssessmentSpecification:
                      data:
                        type: basisPriceAssessmentSpecification
                        id: "12000"
                included:
                  - type: basisPriceAssessmentSpecification
                    id: "12000"
                    attributes:
                      code: NGCAZEEUP
                      name: ICIS Heren® Natural Gas Closing Day Assessment - Zeebrugge GBX/th
                      isConverted: false
                      timelinessName: Closing Day
                      dataSupplierName: ICIS
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "2"
                      market:
                        data:
                          type: market
                          id: "3"
                      unit:
                        data:
                          type: unit
                          id: "1"
                  - type: period
                    id: "1268467"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: Day-ahead
                      startDate: "2016-01-05T00:00:00Z"
                      endDate: "2016-01-05T00:00:00Z"
                      displayOrder: 700.01
                      absolutePeriodCode: DA160105
                      absolutePeriodLabel: Day-ahead 05 January 2016
                      relativePeriodCode: DA
                      relativePeriodLabel: Day-ahead
                      defaultPeriodCode: DA
                      periodType: Day-ahead
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /basisPriceAssessments/specifications:
    get:
      operationId: getBasisPriceAssessmentSpecificationList
      tags:
        - basisPriceAssessmentSpecifications
      summary: Returns a list of basisPriceAssessmentSpecifications
      description: "Returns a list of basis price assessment specifications sorted by `name` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterCurrencyIdParameter"
        - $ref: "#/components/parameters/filterMarketIdParameter"
        - $ref: "#/components/parameters/filterUnitIdParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of BasisPriceAssessmentSpecification entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BasisPriceAssessmentSpecificationModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CurrencyModel"
                        - $ref: "#/components/schemas/MarketModel"
                        - $ref: "#/components/schemas/UnitModel"
              example:
                links:
                  next: /basisPriceAssessments/specifications?page%5Bsize%5D=2&page%5Bafter%5D=eyJuYW1lIjoiSUNJUyBIZXJlbsKuIE5hdHVyYWwgR2FzIEVvRCBBc3Nlc3NtZW50IC0gWmVlYnJ1Z2dlIENvbnYuIEVVUi9NV2giLCJpZCI6IjI3MSJ9
                data:
                  - id: "12000"
                    type: basisPriceAssessmentSpecification
                    attributes:
                      name: ICIS Heren® Natural Gas Closing Day Assessment - Zeebrugge GBX/th
                      code: NGCAZEEUP
                      isConverted: false
                      timelinessName: Closing Day
                      dataSupplierName: ICIS
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "2"
                      market:
                        data:
                          type: market
                          id: "3"
                      unit:
                        data:
                          type: unit
                          id: "1"
                  - id: "271"
                    type: basisPriceAssessmentSpecification
                    attributes:
                      name: ICIS Heren® Natural Gas EoD Assessment - Zeebrugge Conv. EUR/MWh
                      code: NGEAZEEUE
                      isConverted: true
                      timelinessName: EOD
                      dataSupplierName: ICIS
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "3"
                      unit:
                        data:
                          type: unit
                          id: "2"
                included:
                  - type: currency
                    id: "2"
                    attributes:
                      name: British Pence
                      code: GBX
                  - type: currency
                    id: "3"
                    attributes:
                      name: Euro
                      code: EUR
                  - type: market
                    id: "3"
                    attributes:
                      name: Z Hub
                      code: ZEE
                      description: Belgian Zeebrugge Gas
                  - type: unit
                    id: "1"
                    attributes:
                      name: therm
                      description: Therms
                      symbol: th
                      unitType: Energy
                      code: TH_ENRG
                  - type: unit
                    id: "2"
                    attributes:
                      name: MWh
                      description: Megawatt Hours
                      symbol: MWh
                      unitType: Energy
                      code: MWH_ENRG
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/basisPriceAssessments/specifications/{id}":
    get:
      operationId: getBasisPriceAssessmentSpecificationById
      tags:
        - basisPriceAssessmentSpecifications
      summary: Returns a basisPriceAssessmentSpecification entity
      description: Returns a basis price assessment specification entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "12000"
          description: The Id of the basis price assessment specification for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: BasisPriceAssessmentSpecification entity.
                properties:
                  data:
                    $ref: "#/components/schemas/BasisPriceAssessmentSpecificationModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CurrencyModel"
                        - $ref: "#/components/schemas/MarketModel"
                        - $ref: "#/components/schemas/UnitModel"
              example:
                data:
                  id: "12000"
                  type: basisPriceAssessmentSpecification
                  attributes:
                    name: ICIS Heren® Natural Gas Closing Day Assessment - Zeebrugge GBX/th
                    code: NGCAZEEUP
                    isConverted: false
                    timelinessName: Closing Day
                    dataSupplierName: ICIS
                  relationships:
                    currency:
                      data:
                        type: currency
                        id: "2"
                    market:
                      data:
                        type: market
                        id: "3"
                    unit:
                      data:
                        type: unit
                        id: "1"
                included:
                  - type: currency
                    id: "2"
                    attributes:
                      name: British Pence
                      code: GBX
                  - type: market
                    id: "3"
                    attributes:
                      name: Z Hub
                      code: ZEE
                      description: Belgian Zeebrugge Gas
                  - type: unit
                    id: "1"
                    attributes:
                      name: therm
                      description: Therms
                      symbol: th
                      unitType: Energy
                      code: TH_ENRG
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /currencies:
    get:
      operationId: getCurrencyList
      tags:
        - currencies
      summary: Returns a list of currencies
      description: "Returns a list of currencies sorted by `name` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of currency entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CurrencyModel"
              example:
                links:
                  next: /currencies?page%5Bsize%5D=2&page%5Bafter%5D=eyJuYW1lIjoiQnJpdGlzaCBQb3VuZCIsImlkIjoiMSJ9
                data:
                  - id: "2"
                    type: currency
                    attributes:
                      name: British Pence
                      code: GBX
                  - id: "1"
                    type: currency
                    attributes:
                      name: British Pound
                      code: GBP
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/currencies/{id}":
    get:
      operationId: getCurrencyById
      tags:
        - currencies
      summary: Returns a currency entity
      description: Returns a currency entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "1"
          description: The Id of the currency for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: Currency entity.
                properties:
                  data:
                    $ref: "#/components/schemas/CurrencyModel"
              example:
                data:
                  id: "1"
                  type: currency
                  attributes:
                    name: British Pound
                    code: GBP
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /dataEvents:
    get:
      operationId: getdataEventList
      tags:
        - dataEvents
      summary: Returns a list of dataEvents
      description: "Returns a list of data events sorted by `eventCreationTime` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterSpecificationIdParameter"
        - $ref: "#/components/parameters/filterCreatedAfterParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of DataEvent entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DataEventModel"
              example:
                links:
                  next: /dataEvents?page%5Bsize%5D=2&page%5Bafter%5D=eyJjcmVhdGVkQWZ0ZXIiOiIwOC8xNy8yMDIxIDAxOjMzOjIzLjM2MyBQTSIsImlkIjoiNjExYmJhYTM5MzY4ZWUwMDAxOTZiODFkIn0%3D
                data:
                  - type: dataEvent
                    id: 611bbaa39368ee000196b81c
                    attributes:
                      eventType: Published
                      eventCreationTime: "2021-08-17T13:33:23.335Z"
                      createdForDate: "2016-01-04T00:00:00Z"
                      specificationId: "327"
                      resourceType: indices
                    relationships:
                      eventResources:
                        links:
                          related: "/indices?filter[createdForDateStart]=20160104&filter[createdForDateEnd]=20160104&filter[specificationId]=327"
                  - type: dataEvent
                    id: 611bbaa39368ee000196b81d
                    attributes:
                      eventType: Published
                      eventCreationTime: "2021-08-17T13:33:23.363Z"
                      createdForDate: "2016-01-04T00:00:00Z"
                      specificationId: "321"
                      resourceType: indices
                    relationships:
                      eventResources:
                        links:
                          related: "/indices?filter[createdForDateStart]=20160104&filter[createdForDateEnd]=20160104&filter[specificationId]=321"
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /indices:
    get:
      operationId: getIndexList
      tags:
        - indices
      summary: Returns a list of indices
      description: "Returns a list of indices sorted by `createdForDate` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterSpecificationIdParameter"
        - $ref: "#/components/parameters/filterCreatedForDateStartParameter"
        - $ref: "#/components/parameters/filterCreatedForDateEndParameter"
        - $ref: "#/components/parameters/filterAbsolutePeriodCodeParameter"
        - $ref: "#/components/parameters/filterRelativePeriodCodeParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of Index entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/IndexModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/IndexSpecificationModel"
              example:
                links:
                  next: /indices?page%5Bsize%5D=2&page%5Bafter%5D=eyJjcmVhdGVkRm9yRGF0ZSI6IjAxLzA0LzIwMTYgMDA6MDA6MDAiLCJpZCI6IjMwMS1EQS0yMDE2MDEwNCJ9
                data:
                  - type: index
                    id: 300-DA-20160104
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-04-03T12:49:28Z"
                      price: 14.913
                      diffToPrevPrice: null
                      changePct: null
                      volume: 673920
                      numOfTrades: 215
                      tradeHighPrice: 15.25
                      tradeLowPrice: 14.6
                      priceReason: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268467"
                      indexSpecification:
                        data:
                          type: indexSpecification
                          id: "300"
                  - type: index
                    id: 301-DA-20160104
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-04-03T12:49:29Z"
                      price: 14.913
                      diffToPrevPrice: null
                      changePct: null
                      volume: 673920
                      numOfTrades: 215
                      tradeHighPrice: 15.25
                      tradeLowPrice: 14.6
                      priceReason: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268467"
                      indexSpecification:
                        data:
                          type: indexSpecification
                          id: "301"
                included:
                  - type: indexSpecification
                    id: "300"
                    attributes:
                      name: ICIS Heren® Natural Gas EoD Daily Day-ahead Index - GASPOOL EUR/MWh
                      code: NGEDDIGPLUE
                      tradeType: Physical
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: null
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "13"
                      unit:
                        data:
                          type: unit
                          id: "2"
                      volumeUnit:
                        data:
                          type: unit
                          id: "2"
                  - type: indexSpecification
                    id: "301"
                    attributes:
                      name: ICIS Heren® Natural Gas EoD Cumulative Day-ahead Index - GASPOOL EUR/MWh
                      code: NGECDIGPLUE
                      tradeType: Physical
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: null
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "13"
                      unit:
                        data:
                          type: unit
                          id: "2"
                      volumeUnit:
                        data:
                          type: unit
                          id: "2"
                  - type: period
                    id: "1268467"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: Day-ahead
                      startDate: "2016-01-05T00:00:00Z"
                      endDate: "2016-01-05T00:00:00Z"
                      displayOrder: 700.01
                      absolutePeriodCode: DA160105
                      absolutePeriodLabel: Day-ahead 05 January 2016
                      relativePeriodCode: DA
                      relativePeriodLabel: Day-ahead
                      defaultPeriodCode: DA
                      periodType: Day-ahead
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/indices/{id}":
    get:
      operationId: getIndexById
      tags:
        - indices
      summary: Returns an index entity
      description: Returns an index entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 300-DA-20160104
          description: The Id of the index for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: Index entity.
                properties:
                  data:
                    $ref: "#/components/schemas/IndexModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/IndexSpecificationModel"
              example:
                data:
                  id: 300-DA-20160104
                  type: index
                  attributes:
                    createdForDate: "2016-01-04T00:00:00Z"
                    modifiedDateTime: "2021-04-03T12:49:28Z"
                    price: 14.913
                    diffToPrevPrice: null
                    changePct: null
                    volume: 673920
                    numOfTrades: 215
                    tradeHighPrice: 15.25
                    tradeLowPrice: 14.6
                    priceReason: null
                  relationships:
                    period:
                      data:
                        type: period
                        id: "1268467"
                    indexSpecification:
                      data:
                        type: indexSpecification
                        id: "300"
                included:
                  - type: indexSpecification
                    id: "300"
                    attributes:
                      name: ICIS Heren® Natural Gas EoD Daily Day-ahead Index - GASPOOL EUR/MWh
                      code: NGEDDIGPLUE
                      tradeType: Physical
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: null
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "13"
                      unit:
                        data:
                          type: unit
                          id: "2"
                      volumeUnit:
                        data:
                          type: unit
                          id: "2"
                  - type: period
                    id: "1268467"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: Day-ahead
                      startDate: "2016-01-05T00:00:00Z"
                      endDate: "2016-01-05T00:00:00Z"
                      displayOrder: 700.01
                      absolutePeriodCode: DA160105
                      absolutePeriodLabel: Day-ahead 05 January 2016
                      relativePeriodCode: DA
                      relativePeriodLabel: Day-ahead
                      defaultPeriodCode: DA
                      periodType: Day-ahead
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /indices/specifications:
    get:
      operationId: getIndexSpecificationList
      tags:
        - indexSpecifications
      summary: Returns a list of indexSpecifications
      description: "Returns a list of index specifications sorted by `name` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterCurrencyIdParameter"
        - $ref: "#/components/parameters/filterMarketIdParameter"
        - $ref: "#/components/parameters/filterUnitIdParameter"
        - $ref: "#/components/parameters/filterMarketDeliveryProfileNameParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of IndexSpecification entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/IndexSpecificationModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CurrencyModel"
                        - $ref: "#/components/schemas/MarketModel"
                        - $ref: "#/components/schemas/UnitModel"
              example:
                links:
                  next: /indices/specifications?page%5Bsize%5D=2&page%5Bafter%5D=eyJuYW1lIjoiSUNJUyBIZXJlbsKuIEVsZWN0cmljaXR5IEVvRCBEYWlseSBEYXktYWhlYWQgSW5kZXggLSBDemVjaCBSZXB1YmxpYyBQZWFrcyBFVVIvTVdoIiwiaWQiOiIzNTkifQ%3D%3D
                data:
                  - id: "353"
                    type: indexSpecification
                    attributes:
                      name: ICIS Heren® Electricity EoD Daily Day-ahead Index - Czech Republic Baseload EUR/MWh
                      code: ELEDDICZPBE
                      tradeType: null
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: Baseload
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "14"
                      unit:
                        data:
                          type: unit
                          id: "2"
                      volumeUnit:
                        data:
                          type: unit
                          id: "2"
                  - id: "359"
                    type: indexSpecification
                    attributes:
                      name: ICIS Heren® Electricity EoD Daily Day-ahead Index - Czech Republic Peaks EUR/MWh
                      code: ELEDDICZPPE
                      tradeType: Physical
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: null
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "14"
                      unit:
                        data:
                          type: unit
                          id: "2"
                      volumeUnit:
                        data:
                          type: unit
                          id: "2"
                included:
                  - type: currency
                    id: "3"
                    attributes:
                      name: Euro
                      code: EUR
                  - type: market
                    id: "14"
                    attributes:
                      name: Czech Power
                      code: CZP
                      description: Czech Power
                  - type: unit
                    id: "2"
                    attributes:
                      name: MWh
                      description: Megawatt Hours
                      symbol: MWh
                      unitType: Energy
                      code: MWH_ENRG
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/indices/specifications/{id}":
    get:
      operationId: getIndexSpecificationById
      tags:
        - indexSpecifications
      summary: Returns a indexSpecification entity
      description: Returns an index specification entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "353"
          description: The Id of the index specification for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: IndexSpecification entity.
                properties:
                  data:
                    $ref: "#/components/schemas/IndexSpecificationModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CurrencyModel"
                        - $ref: "#/components/schemas/MarketModel"
                        - $ref: "#/components/schemas/UnitModel"
              example:
                data:
                  id: "353"
                  type: indexSpecification
                  attributes:
                    name: ICIS Heren® Electricity EoD Daily Day-ahead Index - Czech Republic Baseload EUR/MWh
                    code: ELEDDICZPBE
                    tradeType: null
                    dataSupplierName: ICIS
                    marketDeliveryProfileName: Baseload
                  relationships:
                    currency:
                      data:
                        type: currency
                        id: "3"
                    market:
                      data:
                        type: market
                        id: "14"
                    unit:
                      data:
                        type: unit
                        id: "2"
                    volumeUnit:
                      data:
                        type: unit
                        id: "2"
                included:
                  - type: currency
                    id: "3"
                    attributes:
                      name: Euro
                      code: EUR
                  - type: market
                    id: "14"
                    attributes:
                      name: Czech Power
                      code: CZP
                      description: Czech Power
                  - type: unit
                    id: "2"
                    attributes:
                      name: MWh
                      description: Megawatt Hours
                      symbol: MWh
                      unitType: Energy
                      code: MWH_ENRG
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /locationSpreads:
    get:
      operationId: getLocationSpreadList
      tags:
        - locationSpreads
      summary: Returns a list of locationSpreads
      description: "Returns a list of location spreads sorted by `createdForDate` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterSpecificationIdParameter"
        - $ref: "#/components/parameters/filterCreatedForDateStartParameter"
        - $ref: "#/components/parameters/filterCreatedForDateEndParameter"
        - $ref: "#/components/parameters/filterAbsolutePeriodCodeParameter"
        - $ref: "#/components/parameters/filterRelativePeriodCodeParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of LocationSpread entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/LocationSpreadModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/LocationSpreadSpecificationModel"
              example:
                links:
                  next: /locationSpreads?page%5Bsize%5D=2&page%5Bafter%5D=eyJjcmVhdGVkRm9yRGF0ZSI6IjAxLzA0LzIwMTYgMDA6MDA6MDAiLCJpZCI6IjEwMDMxLU0yLTIwMTYwMTA0In0%3D
                data:
                  - id: 10031-M1-20160104
                    type: locationSpread
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-05-25T23:31:43Z"
                      price: -12.425
                      diffToPrevPrice: 0.675
                      changePct: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268490"
                      locationSpreadSpecification:
                        data:
                          type: locationSpreadSpecification
                          id: "10031"
                  - id: 10031-M2-20160104
                    type: locationSpread
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-05-25T23:31:43Z"
                      price: -11.625
                      diffToPrevPrice: 0.225
                      changePct: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268500"
                      locationSpreadSpecification:
                        data:
                          type: locationSpreadSpecification
                          id: "10031"
                included:
                  - type: locationSpreadSpecification
                    id: "10031"
                    attributes:
                      code: ELELNFRPITPBE
                      name: ICIS Heren® Electricity EoD Location Spread France-Italy Baseload EUR/MWh
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: Baseload
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "8"
                      secondaryMarket:
                        data:
                          type: market
                          id: "16"
                      unit:
                        data:
                          type: unit
                          id: "2"
                  - type: period
                    id: "1268490"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: February '16
                      startDate: "2016-02-01T00:00:00Z"
                      endDate: "2016-02-29T00:00:00Z"
                      displayOrder: 2400.01
                      absolutePeriodCode: M1602
                      absolutePeriodLabel: February '16
                      relativePeriodCode: M1
                      relativePeriodLabel: Month + 1
                      defaultPeriodCode: M1602
                      periodType: Calendar Monthly
                  - type: period
                    id: "1268500"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: March '16
                      startDate: "2016-03-01T00:00:00Z"
                      endDate: "2016-03-31T00:00:00Z"
                      displayOrder: 2400.02
                      absolutePeriodCode: M1603
                      absolutePeriodLabel: March '16
                      relativePeriodCode: M2
                      relativePeriodLabel: Month + 2
                      defaultPeriodCode: M1603
                      periodType: Calendar Monthly
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/locationSpreads/{id}":
    get:
      operationId: getLocationSpreadById
      tags:
        - locationSpreads
      summary: Returns a locationSpread entity
      description: Returns a location spread entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 10000-DA-20160104
          description: The Id of the location spread for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: LocationSpread entity.
                properties:
                  data:
                    $ref: "#/components/schemas/LocationSpreadModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/LocationSpreadSpecificationModel"
              example:
                data:
                  id: 10031-M1-20160104
                  type: locationSpread
                  attributes:
                    createdForDate: "2016-01-04T00:00:00Z"
                    modifiedDateTime: "2021-05-25T23:31:43Z"
                    price: -12.425
                    diffToPrevPrice: 0.675
                    changePct: null
                  relationships:
                    period:
                      data:
                        type: period
                        id: "1268490"
                    locationSpreadSpecification:
                      data:
                        type: locationSpreadSpecification
                        id: "10031"
                included:
                  - type: period
                    id: "1268490"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: February '16
                      startDate: "2016-02-01T00:00:00Z"
                      endDate: "2016-02-29T00:00:00Z"
                      displayOrder: 2400.01
                      absolutePeriodCode: M1602
                      absolutePeriodLabel: February '16
                      relativePeriodCode: M1
                      relativePeriodLabel: Month + 1
                      defaultPeriodCode: M1602
                      periodType: Calendar Monthly
                  - type: locationSpreadSpecification
                    id: "10031"
                    attributes:
                      code: ELELNFRPITPBE
                      name: ICIS Heren® Electricity EoD Location Spread France-Italy Baseload EUR/MWh
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: Baseload
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "8"
                      secondaryMarket:
                        data:
                          type: market
                          id: "16"
                      unit:
                        data:
                          type: unit
                          id: "2"
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /locationSpreads/specifications:
    get:
      operationId: getLocationSpreadSpecificationList
      tags:
        - locationSpreadSpecifications
      summary: Returns a list of locationSpreadSpecifications
      description: "Returns a list of location spread specifications sorted by `name` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterCurrencyIdParameter"
        - $ref: "#/components/parameters/filterMarketIdParameter"
        - $ref: "#/components/parameters/filterUnitIdParameter"
        - $ref: "#/components/parameters/filterMarketDeliveryProfileNameParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of LocationSpreadSpecification entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/LocationSpreadSpecificationModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CurrencyModel"
                        - $ref: "#/components/schemas/MarketModel"
                        - $ref: "#/components/schemas/UnitModel"
              example:
                links:
                  next: /locationSpreads/specifications?page%5Bsize%5D=2&page%5Bafter%5D=eyJuYW1lIjoiSUNJUyBIZXJlbsKuIEVsZWN0cmljaXR5IEVvRCBMb2NhdGlvbiBTcHJlYWQgQnVsZ2FyaWEtVHVya2V5IEJhc2Vsb2FkIEVVUi9NV2giLCJpZCI6IjEwMDQ5In0%3D
                data:
                  - id: "10048"
                    type: locationSpreadSpecification
                    attributes:
                      name: ICIS Heren® Electricity EoD Location Spread Bulgaria-Romania Baseload EUR/MWh
                      code: ELELNBGPROPBE
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: Baseload
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "35"
                      unit:
                        data:
                          type: unit
                          id: "2"
                      secondaryMarket:
                        data:
                          type: market
                          id: "24"
                  - id: "10049"
                    type: locationSpreadSpecification
                    attributes:
                      name: ICIS Heren® Electricity EoD Location Spread Bulgaria-Turkey Baseload EUR/MWh
                      code: ELELNBGPTRPBE
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: Baseload
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "35"
                      unit:
                        data:
                          type: unit
                          id: "2"
                      secondaryMarket:
                        data:
                          type: market
                          id: "32"
                included:
                  - type: currency
                    id: "3"
                    attributes:
                      name: Euro
                      code: EUR
                  - type: market
                    id: "24"
                    attributes:
                      name: Romanian Power
                      code: ROP
                      description: Romanian Power
                  - type: market
                    id: "32"
                    attributes:
                      name: Turkish Power
                      code: TRP
                      description: Turkish Power
                  - type: unit
                    id: "2"
                    attributes:
                      name: MWh
                      description: Megawatt Hours
                      symbol: MWh
                      unitType: Energy
                      code: MWH_ENRG
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/locationSpreads/specifications/{id}":
    get:
      operationId: getLocationSpreadSpecificationById
      tags:
        - locationSpreadSpecifications
      summary: Returns a locationSpreadSpecification entity
      description: Returns a location spread specification entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "10048"
          description: The Id of the location spread specification for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: LocationSpreadSpecification entity.
                properties:
                  data:
                    $ref: "#/components/schemas/LocationSpreadSpecificationModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CurrencyModel"
                        - $ref: "#/components/schemas/MarketModel"
                        - $ref: "#/components/schemas/UnitModel"
              example:
                data:
                  id: "10048"
                  type: locationSpreadSpecification
                  attributes:
                    name: ICIS Heren® Electricity EoD Location Spread Bulgaria-Romania Baseload EUR/MWh
                    code: ELELNBGPROPBE
                    dataSupplierName: ICIS
                    marketDeliveryProfileName: Baseload
                  relationships:
                    currency:
                      data:
                        type: currency
                        id: "3"
                    market:
                      data:
                        type: market
                        id: "35"
                    unit:
                      data:
                        type: unit
                        id: "2"
                    secondaryMarket:
                      data:
                        type: market
                        id: "24"
                included:
                  - type: currency
                    id: "3"
                    attributes:
                      name: Euro
                      code: EUR
                  - type: market
                    id: "24"
                    attributes:
                      name: Romanian Power
                      code: ROP
                      description: Romanian Power
                  - type: market
                    id: "35"
                    attributes:
                      name: Bulgarian Power
                      code: BGP
                      description: Bulgarian Power
                  - type: unit
                    id: "2"
                    attributes:
                      name: MWh
                      description: Megawatt Hours
                      symbol: MWh
                      unitType: Energy
                      code: MWH_ENRG
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /markets:
    get:
      operationId: getMarketList
      tags:
        - markets
      summary: Returns a list of markets
      description: "Returns a list of markets sorted by `name` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of market entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/MarketModel"
              example:
                links:
                  next: /markets?page%5Bsize%5D=2&page%5Bafter%5D=eyJuYW1lIjoiQmVsZ2lhbiBQb3dlciIsImlkIjoiMzEifQ%3D%3D
                data:
                  - id: "47"
                    type: market
                    attributes:
                      name: Austrian Power
                      description: Austrian Power
                      code: ATP
                  - id: "31"
                    type: market
                    attributes:
                      name: Belgian Power
                      description: Belgian Power
                      code: BEP
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/markets/{id}":
    get:
      operationId: getMarketById
      tags:
        - markets
      summary: Returns a market entity
      description: Returns a market entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "47"
          description: The Id of the market for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: Market entity.
                properties:
                  data:
                    $ref: "#/components/schemas/MarketModel"
              example:
                data:
                  id: "47"
                  type: market
                  attributes:
                    name: Austrian Power
                    description: Austrian Power
                    code: ATP
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /periods:
    get:
      operationId: getPeriodList
      tags:
        - periods
      summary: Returns a list of periods
      description: "Returns a list of periods sorted by `referenceDate` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of period entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PeriodModel"
              example:
                links:
                  next: /periods?page%5Bsize%5D=2&page%5Bafter%5D=eyJyZWZlcmVuY2VEYXRlIjoiMDYvMDEvMjAyMCAwMDowMDowMCIsImlkIjoiMTU0Nzg5NiJ9
                data:
                  - id: "1547895"
                    type: period
                    attributes:
                      referenceDate: "2020-06-01T00:00:00Z"
                      defaultPeriodLabel: Ex-post 25/05/2020
                      startDate: "2020-05-25T00:00:00Z"
                      endDate: "2020-05-25T00:00:00Z"
                      displayOrder: 1800.07
                      absolutePeriodCode: DE200525
                      absolutePeriodLabel: Ex-post 25/05/2020
                      relativePeriodCode: 7DE
                      relativePeriodLabel: Day-7 Ex-post
                      defaultPeriodCode: DE200525
                      periodType: Ex-post
                  - id: "1547896"
                    type: period
                    attributes:
                      referenceDate: "2020-06-01T00:00:00Z"
                      defaultPeriodLabel: Ex-post 24/05/2020
                      startDate: "2020-05-24T00:00:00Z"
                      endDate: "2020-05-24T00:00:00Z"
                      displayOrder: 1800.08
                      absolutePeriodCode: DE200524
                      absolutePeriodLabel: Ex-post 24/05/2020
                      relativePeriodCode: 8DE
                      relativePeriodLabel: Day-8 Ex-post
                      defaultPeriodCode: DE200524
                      periodType: Ex-post
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/periods/{id}":
    get:
      operationId: getPeriodById
      tags:
        - periods
      summary: Returns a period entity
      description: Returns a period entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "1547895"
          description: The Id of the period for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: Period entity.
                properties:
                  data:
                    $ref: "#/components/schemas/PeriodModel"
              example:
                data:
                  id: "1547895"
                  type: period
                  attributes:
                    referenceDate: "2020-06-01T00:00:00Z"
                    defaultPeriodLabel: Ex-post 25/05/2020
                    startDate: "2020-05-25T00:00:00Z"
                    endDate: "2020-05-25T00:00:00Z"
                    displayOrder: 1800.07
                    absolutePeriodCode: DE200525
                    absolutePeriodLabel: Ex-post 25/05/2020
                    relativePeriodCode: 7DE
                    relativePeriodLabel: Day-7 Ex-post
                    defaultPeriodCode: DE200525
                    periodType: Ex-post
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /priceAssessments:
    get:
      operationId: getPriceAssessmentList
      tags:
        - priceAssessments
      summary: Returns a list of priceAssessments
      description: "Returns a list of price assessments sorted by `createdForDate` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterSpecificationIdParameter"
        - $ref: "#/components/parameters/filterCreatedForDateStartParameter"
        - $ref: "#/components/parameters/filterCreatedForDateEndParameter"
        - $ref: "#/components/parameters/filterAbsolutePeriodCodeParameter"
        - $ref: "#/components/parameters/filterRelativePeriodCodeParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of PriceAssessment entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PriceAssessmentModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/PriceAssessmentSpecificationModel"
              example:
                links:
                  next: /priceAssessments?page%5Bsize%5D=2&page%5Bafter%5D=eyJjcmVhdGVkRm9yRGF0ZSI6IjAxLzA0LzIwMTYgMDA6MDA6MDAiLCJpZCI6IjEwMS1EQS0yMDE2MDEwNCJ9
                data:
                  - id: 101-BOM-20160104
                    type: priceAssessment
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-03-20T07:57:28Z"
                      bid: 14.3
                      offer: 14.8
                      midpoint: 14.55
                      diffToPrevMid: -0.1
                      changePct: null
                      dataUsed: S
                      isEstimate: true
                      volatilityIndex: 0
                      volatilityIndexReason: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268452"
                      priceAssessmentSpecification:
                        data:
                          type: priceAssessmentSpecification
                          id: "101"
                  - id: 101-DA-20160104
                    type: priceAssessment
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-03-20T07:57:28Z"
                      bid: 14.7
                      offer: 14.775
                      midpoint: 14.738
                      diffToPrevMid: 0.013
                      changePct: null
                      dataUsed: B
                      isEstimate: true
                      volatilityIndex: 0
                      volatilityIndexReason: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268467"
                      priceAssessmentSpecification:
                        data:
                          type: priceAssessmentSpecification
                          id: "101"
                included:
                  - type: period
                    id: "1268452"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: BOM
                      startDate: "2016-01-06T00:00:00Z"
                      endDate: "2016-01-31T00:00:00Z"
                      displayOrder: 2100
                      absolutePeriodCode: BOM160106
                      absolutePeriodLabel: BOM January '16
                      relativePeriodCode: BOM
                      relativePeriodLabel: BOM
                      defaultPeriodCode: BOM
                      periodType: BOM Monthly
                  - type: period
                    id: "1268467"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: Day-ahead
                      startDate: "2016-01-05T00:00:00Z"
                      endDate: "2016-01-05T00:00:00Z"
                      displayOrder: 700.01
                      absolutePeriodCode: DA160105
                      absolutePeriodLabel: Day-ahead 05 January 2016
                      relativePeriodCode: DA
                      relativePeriodLabel: Day-ahead
                      defaultPeriodCode: DA
                      periodType: Day-ahead
                  - type: priceAssessmentSpecification
                    id: "101"
                    attributes:
                      name: ICIS Heren® Natural Gas EoD Assessment - PEG Nord EUR/MWh
                      code: NGEAPGNUE
                      isConverted: false
                      timelinessName: EOD
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: null
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "29"
                      unit:
                        data:
                          type: unit
                          id: "2"
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/priceAssessments/{id}":
    get:
      operationId: getPriceAssessmentById
      tags:
        - priceAssessments
      summary: Returns a priceAssessment entity
      description: Returns a price assessment entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 101-BOM-20160104
          description: The Id of the price assessment for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: PriceAssessment entity.
                properties:
                  data:
                    $ref: "#/components/schemas/PriceAssessmentModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/PriceAssessmentSpecificationModel"
              example:
                data:
                  id: 101-BOM-20160104
                  type: priceAssessment
                  attributes:
                    createdForDate: "2016-01-04T00:00:00Z"
                    modifiedDateTime: "2021-03-20T07:57:28Z"
                    bid: 14.3
                    offer: 14.8
                    midpoint: 14.55
                    diffToPrevMid: -0.1
                    changePct: null
                    dataUsed: S
                    isEstimate: true
                    volatilityIndex: 0
                    volatilityIndexReason: null
                  relationships:
                    period:
                      data:
                        type: period
                        id: "1268452"
                    priceAssessmentSpecification:
                      data:
                        type: priceAssessmentSpecification
                        id: "101"
                included:
                  - type: period
                    id: "1268452"
                    attributes:
                      referenceDate: "2016-01-04T00:00:00Z"
                      defaultPeriodLabel: BOM
                      startDate: "2016-01-06T00:00:00Z"
                      endDate: "2016-01-31T00:00:00Z"
                      displayOrder: 2100
                      absolutePeriodCode: BOM160106
                      absolutePeriodLabel: BOM January '16
                      relativePeriodCode: BOM
                      relativePeriodLabel: BOM
                      defaultPeriodCode: BOM
                      periodType: BOM Monthly
                  - type: priceAssessmentSpecification
                    id: "101"
                    attributes:
                      name: ICIS Heren® Natural Gas EoD Assessment - PEG Nord EUR/MWh
                      code: NGEAPGNUE
                      isConverted: false
                      timelinessName: EOD
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: null
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "29"
                      unit:
                        data:
                          type: unit
                          id: "2"
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /priceAssessments/specifications:
    get:
      operationId: getPriceAssessmentSpecificationList
      tags:
        - priceAssessmentSpecifications
      summary: Returns a list of priceAssessmentSpecifications
      description: "Returns a list of price assessment specifications sorted by `name` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterCurrencyIdParameter"
        - $ref: "#/components/parameters/filterMarketIdParameter"
        - $ref: "#/components/parameters/filterUnitIdParameter"
        - $ref: "#/components/parameters/filterMarketDeliveryProfileNameParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of PriceAssessmentSpecification entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PriceAssessmentSpecificationModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CurrencyModel"
                        - $ref: "#/components/schemas/MarketModel"
                        - $ref: "#/components/schemas/UnitModel"
              example:
                links:
                  next: /priceAssessments/specifications?page%5Bsize%5D=2&page%5Bafter%5D=eyJuYW1lIjoiSUNJUyBIZXJlbsKuIEVsZWN0cmljaXR5IEVvRCBBc3Nlc3NtZW50IC0gQ3plY2ggUmVwdWJsaWMgQmFzZWxvYWQgRVVSL01XaCIsImlkIjoiMTE2In0%3D
                data:
                  - id: "129"
                    type: priceAssessmentSpecification
                    attributes:
                      name: ICIS Heren® Electricity EoD Assessment - Bulgaria Baseload EUR/MWh
                      code: ELEABGPBE
                      isConverted: false
                      timelinessName: EOD
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: Baseload
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "35"
                      unit:
                        data:
                          type: unit
                          id: "2"
                  - id: "116"
                    type: priceAssessmentSpecification
                    attributes:
                      name: ICIS Heren® Electricity EoD Assessment - Czech Republic Baseload EUR/MWh
                      code: ELEACZPBE
                      isConverted: false
                      timelinessName: EOD
                      dataSupplierName: ICIS
                      marketDeliveryProfileName: Baseload
                    relationships:
                      currency:
                        data:
                          type: currency
                          id: "3"
                      market:
                        data:
                          type: market
                          id: "14"
                      unit:
                        data:
                          type: unit
                          id: "2"
                included:
                  - type: currency
                    id: "3"
                    attributes:
                      name: Euro
                      code: EUR
                  - type: market
                    id: "14"
                    attributes:
                      name: Czech Power
                      code: CZP
                      description: Czech Power
                  - type: market
                    id: "35"
                    attributes:
                      name: Bulgarian Power
                      code: BGP
                      description: Bulgarian Power
                  - type: unit
                    id: "2"
                    attributes:
                      name: MWh
                      description: Megawatt Hours
                      symbol: MWh
                      unitType: Energy
                      code: MWH_ENRG
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  "/priceAssessments/specifications/{id}":
    get:
      operationId: getPriceAssessmentSpecificationById
      tags:
        - priceAssessmentSpecifications
      summary: Returns a priceAssessmentSpecification entity
      description: Returns a price assessment specification entity for a valid identifier.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: "129"
          description: The Id of the price assessment specification for which the user wants to retrieve data.
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: PriceAssessmentSpecification entity.
                properties:
                  data:
                    $ref: "#/components/schemas/PriceAssessmentSpecificationModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CurrencyModel"
                        - $ref: "#/components/schemas/MarketModel"
                        - $ref: "#/components/schemas/UnitModel"
              example:
                data:
                  id: "129"
                  type: priceAssessmentSpecification
                  attributes:
                    name: ICIS Heren® Electricity EoD Assessment - Bulgaria Baseload EUR/MWh
                    code: ELEABGPBE
                    isConverted: false
                    timelinessName: EOD
                    dataSupplierName: ICIS
                    marketDeliveryProfileName: Baseload
                  relationships:
                    currency:
                      data:
                        type: currency
                        id: "3"
                    market:
                      data:
                        type: market
                        id: "35"
                    unit:
                      data:
                        type: unit
                        id: "2"
                included:
                  - type: currency
                    id: "3"
                    attributes:
                      name: Euro
                      code: EUR
                  - type: market
                    id: "35"
                    attributes:
                      name: Bulgarian Power
                      code: BGP
                      description: Bulgarian Power
                  - type: unit
                    id: "2"
                    attributes:
                      name: MWh
                      description: Megawatt Hours
                      symbol: MWh
                      unitType: Energy
                      code: MWH_ENRG
        "400":
          $ref: "#/components/responses/400BadRequestResponse"
        "401":
          $ref: "#/components/responses/401UnauthorizedResponse"
        "403":
          $ref: "#/components/responses/403ForbiddenResponse"
        "404":
          $ref: "#/components/responses/404NotFoundResponse"
        "406":
          $ref: "#/components/responses/406NotAcceptableResponse"
        "429":
          $ref: "#/components/responses/429TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/500InternalServerErrorResponse"
  /sparkAndDarkSpreads:
    get:
      operationId: getSparkAndDarkSpreadList
      tags:
        - sparkAndDarkSpreads
      summary: Returns a list of sparkAndDarkSpreads
      description: "Returns a list of spark and dark spreads sorted by `createdForDate` in ascending order. If there is no data, then an empty array will be returned."
      parameters:
        - $ref: "#/components/parameters/filterSpecificationIdParameter"
        - $ref: "#/components/parameters/filterCreatedForDateStartParameter"
        - $ref: "#/components/parameters/filterCreatedForDateEndParameter"
        - $ref: "#/components/parameters/filterAbsolutePeriodCodeParameter"
        - $ref: "#/components/parameters/filterRelativePeriodCodeParameter"
        - $ref: "#/components/parameters/pageSizeParameter"
        - $ref: "#/components/parameters/pageAfterParameter"
      responses:
        "200":
          description: The HTTP `200 OK` success status response code indicates that the request has succeeded.
          content:
            application/vnd.api+json:
              schema:
                type: object
                description: A list of SparkAndDarkSpread entities.
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        nullable: true
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SparkAndDarkSpreadModel"
                  included:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/PeriodModel"
                        - $ref: "#/components/schemas/SparkAndDarkSpreadSpecificationModel"
              example:
                links:
                  next: /sparkAndDarkSpreads?page%5Bsize%5D=2&page%5Bafter%5D=eyJjcmVhdGVkRm9yRGF0ZSI6IjAxLzA0LzIwMTYgMDA6MDA6MDAiLCJpZCI6IjEwMDAwLU0xLTIwMTYwMTA0In0%3D
                data:
                  - id: 10000-DA-20160104
                    type: sparkAndDarkSpread
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-05-27T19:21:15Z"
                      price: 13.65
                      diffToPrevPrice: -0.13
                      changePct: null
                    relationships:
                      period:
                        data:
                          type: period
                          id: "1268467"
                      sparkAndDarkSpreadSpecification:
                        data:
                          type: sparkAndDarkSpreadSpecification
                          id: "10000"
                  - id: 10000-M1-20160104
                    type: sparkAndDarkSpread
                    attributes:
                      createdForDate: "2016-01-04T00:00:00Z"
                      modifiedDateTime: "2021-05-27T19:21:15Z"
                      price: 13.38
                      diffToPrevPrice: -0.2
[...]
